.deps/
Makefile
Makefile.in
libaftermath-core.la
libaftermath-trace.la
src/marshal.[ch]
aclocal.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
autom4te.cache/
compile
config.h
config.log
config.status
config.sub
config.guess
configure
mdate-sh
texinfo.tex
depcomp
install-sh
missing
ltmain.sh
libtool
.libs
aftermath
aftermath-debug-syms
*.o
*.lo
stamp-h1
TAGS
test-driver
src/generated
.kdbgrc.*
counter_event_set_index_test
wr_trace_states_test
.dirstamp
doc/man/aftermath.1
test-tmp/trace*
event_set_test
ansi_extras_test
parser_test
object_notation_test
color_scheme_test
bitvector_test
filter_expression_test
monotonic_index_test
state_index_test
hierarchy_test
typed_array_test
interval_test
bsearch_test
interval_array_test
typed_rbtree_testGG
scripts/check-header.sh
*.pyc
tmp