.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.log
config.status
configure
depcomp
install-sh
missing
ostv
ostv-debug-syms
*.o
stamp-h1
TAGS
test-driver
src/marshal.h
src/marshal.c
.kdbgrc.*
