.deps/
Makefile
Makefile.in
libaftermath-core.a
aclocal.m4
autom4te.cache/
compile
config.h
config.log
config.status
configure
depcomp
install-sh
missing
aftermath
aftermath-debug-syms
*.o
stamp-h1
TAGS
test-driver
src/marshal.h
src/marshal.c
.kdbgrc.*
counter_event_set_index_test
wr_trace_states_test
.dirstamp
doc/man/aftermath.1
test-tmp/trace*
event_set_test
ansi_extras_test
parser_test
object_notation_test
color_scheme_test
bitvector_test
filter_expression_test
