*.o
moc_*.cpp
ui_*.h
share/profiles/min/interface.amgui
share/profiles/telamon/interface.amgui
share/profiles/telamon-candidate-stats/interface.amgui
share/profiles/telamon-min/interface.amgui
share/profiles/tensorflow/interface.amgui
